<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <JSONLayout complete="true" compact="true" eventEol="true"
                        includeTimeMillis="true" objectMessageAsJsonObject="true">
                <KeyValuePair key="fecha" value="$${date:yyyy-MM-dd'T'HH:mm:ss.SSS}"/>
            </JSONLayout>
        </Console>
    </Appenders>

    <Loggers>
        <logger name="org.springframework.cache" level="error">
            <AppenderRef ref="console"/>
        </logger>
        <logger name="com.github.tomakehurst.wiremock" level="off">
            <AppenderRef ref="console"/>
        </logger>
        <Root level="error">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>